#-------- Constants File ---------

localhost.airports=http://localhost:8080/airports
localhost.fares=http://localhost:8080/fares/
slash=/

localhost.token.uri=http://localhost:8080/oauth/token
client.id=travel-api-client
client.key=psw
grant.type=grant_type
client.credentials=client_credentials
access.token={\"access_token\"
semicolon=:
comma=,
authorization=Authorization
basic=Basic
bearer=Bearer

#----------------------------------